:root {
    --black: #141416;
    --pink: #E9BAA7;
  }
  
  body{
    background: #05935F;
  }
  
  .box-canvas{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height:400px;
    /* transform: scale(0.2); */
  }
  
  .tail {
    width: 25px;
    height: 125px;
    position: absolute;
    right: 35px;
    box-shadow: 10px -10px 0 white;
    border-radius: 50%;
    transform: rotate(-20deg);
    top: 200px;
  }
  
  .tail::before {
    content: '';
    position: absolute;
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 51% 49% 40% 60% / 91% 92% 8% 9%;
    bottom: 0;
    left: 15px;
  }
  
  .body {
    width: 350px;
    height: 175px;
    background: white;
    right: 50px;
    position: absolute;
    top: 125px;
    border-radius: 20% 50% 0% 0%;
    overflow: hidden;
  }
  
  .patch {
    position: absolute;
    background: var(--black);
  }
  
  .patch:nth-child(1) {
    width: 150px;
    height: 75px;
    bottom: -10px;
    left: 50px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
    transform: rotate(20deg);
  }
  
  .patch:nth-child(2) {
    width: 100px;
    height: 50px;
    left: 100px;
    top: -10px;
    border-radius: 86% 14% 37% 63% / 30% 76% 24% 70%;
  }
  
  .patch:nth-child(3) {
    height: 100px;
    width: 100px;
    right: 50px;
    top: 50px;
    border-radius: 25% 75% 40% 60% / 54% 58% 42% 46%;
  }
  
  .legs {
    position: absolute;
    width: 350px;
    bottom: 0;
    height: 100px;
    right: 50px;
  }

  @keyframes front-left-leg-move {
    0% {
        transform: rotate(0); 
    }

    /* 25% {
     
    } */
    50% {
        height: 150px;
        transform: rotate(60deg) translate(-16vmin);
    }

    100% {
        transform: rotate(0);
    }
  }
  @keyframes front-left-leg-move-1 {
    0% {
        transform: rotate(0); 
    }

    50% {
        left: 0.25px;
        height: 150px;
        transform: rotate(60deg) translate(-16vmin);
    }

    100% {
        transform: rotate(0);
    }
  }

  
  .leg {
    position: absolute;
    height: 110px;
    width: 40px;
    background: white;
    border-radius: 0 0 20% 20%;
  }

  .leg.front-left {
    animation: front-left-leg-move-1 2s infinite 2s;
    top: -10px; 
  }
  
  .leg.front-right {
    animation: front-left-leg-move 2s infinite;
    position: absolute;
    height: 100px;
    top: -10px;
    left: 40px;
    width: 40px;
    background: #EFEDED;
    border-radius: 0 0 20% 20%;
  }

  @keyframes back-left-leg-move {
    0% {
        transform: rotate(0); 
    }

    /* 25% {
     
    } */
    50% {
      /* left: 0.25px; */
      height: 27vmin;
      transform: rotate(60deg) translate(-16vmin);
    }

    100% {
        transform: rotate(0);
    }
  }

  @keyframes back-right-leg-move {
    0% {
        transform: rotate(0); 
    }

    /* 25% {
     
    } */
    50% {
      /* left: 0.25px; */
      height: 150px;
      transform: rotate(60deg) translate(-16vmin);
    }

    100% {
        transform: rotate(0);
    }
  }

  .leg.back-left {
    right: 0;
    animation: back-left-leg-move  2s infinite;
  }
  
  .leg.back-right {
    animation: back-right-leg-move 2s infinite;
    position: absolute;
    height: 140px;
    right: 40px;
    width: 40px;
    background: #EFEDED;
    border-radius: 0 0 20% 20%;
  }
  
  .horns {
    position: absolute;
    left: 55px;
    top: -40px;
    width: 175px;
    height: 100px;
    transform: rotate(10deg);
    border-radius: 50%;
    box-shadow: 25px 25px 0 var(--pink), -25px 25px 0 var(--pink);
  }
  
  
  
  .head {
    position: absolute;
    left: 50px;
    top: 25px;
    width: 150px;
    height: 175px;
    background: white;
    border-radius: 50% 50% 45% 45%;
    overflow: hidden;
    transform: rotate(10deg);
  }
  
  /* Patch */
  .head::before {
    content: '';
    position: absolute;
    width: 16vmin;
    height: 100px;
    background: var(--black);
    border-radius: 40% 40% 40% 30%;
    transform: rotate(10deg);
  }
  
  .snout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25vmin;
    height: 75px;
    background: var(--pink);
    border-radius: 50%;
    bottom: 0;
  }
  
  .snout::before {
    content: '';
    left: 40px;
    top: 25px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--black);
  }
  
  .snout::after {
    content: '';
    right: 40px;
    top: 25px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--black);
  }
  
  .mouth {
    position: absolute;
    bottom: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0.75vmin 0 var(--black);
  }
  
  .eye {
    width: 25px;
    height: 25px;
    position: absolute;
    border: 2px solid var(--black);
    border-radius: 50%;
    top: 50px;
    background: white;
  }
  
  .eye::before {
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    background: var(--black);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .eye.left {
    left: 25px;
  }
  
  .eye.right {
    right: 25px;
  }