#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  width: 100%;
}

.App {
  height: 100%;
}

h1 {
  margin: 10px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.duel {
  display: flex;
  flex-direction: row;
}

.duel .matador {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}